// Dark Mode
@media (prefers-color-scheme: dark) {

body, .page-top.white {
	background: rgba(32,32,32,1);
}

.page-top.white a, .page-padding a {
	color: #5bb1e2;
}

.page-top.white, .page-top.crossbeam {
	#logo {
  		background-image: url('images/logo-lightblue.png') !important;
		color: rgba(92,177,227,1); 
	}
	nav {
		color: rgba(92,177,227,1); 
  		background: rgba(32,32,32,.8);
	}
	.menu {
		a, .social {
			color: rgba(92,177,227,1); 
		}
  		a:hover {
	  		border-color: rgba(92,177,227,.3) !important;
  		}
	}
}

.segmented-control {
	border: 1px solid rgba(255,255,255,.1) !important;
	a {
		color: #fff !important;
		border-left: 1px solid rgba(255,255,255,.1) !important;
	}
	img {
		filter: invert(100%);
	}
}

.content {
	color: #fff;
	.item-content {
		&:hover {
			box-shadow: inset rgba(255,255,255,.05) 0 0 0 1px;
		}
		&.faceports {
			background-color: rgba(50,50,50,1);
			background-image: url(images/faceports-preview-dark.png);
		}
		&.collx {
			background-color: rgba(50,50,50,1);
			background-image: url(images/collx-preview-dark.png);
		}
		&.crossbeam {
			background-color: rgba(50,50,50,1);
			background-image: url(images/crossbeam-preview-dark.png);
		}
		&.squareknot {
			background-color: #323232;
		}
	}
}

footer {
	background: rgba(32,32,32,1);
	color: #fff;
}

.quote-grid blockquote, .squareknot-slogan {
	color: #ccc !important;
}


.page-top {
	&.index {
		nav {
			#logo {
				background-image: url('images/logo-lightblue.png');
			}
			a, .social {
				color: #5ab1e1;
			}
		}
	}
	&.collx {
		nav {
			a, .social {
				color: #fff;
			}
		}
	}
	.splash-bg {
		.meta {
			color: #fff;
			background-color: rgba(0,0,0,.7);
		}
		&.collx {
			background-color: #2f3235;
			.site-logo {
				background-image: url(images/collx-logo-white.png);
			}
		}
		&.crossbeam {
			.site-logo {
				background-image: url(images/crossbeam-logo-white.png);
			}
		}
	}
}

}