/* Mobile */
@media only screen and (max-width: 700px) {

.desktop {
	display: none !important;
}

.mobile {
	display: block !important;
}

blockquote {
	line-height: 36px;
	margin: 20px 20px 0 20px;
	span {
		margin-top: 6px !important;
	}
}

h1 {
	font-size: 24px;
	line-height: 28px;
	margin-top: 24px;
	margin-bottom: 24px;
	font-weight: 500;
}

h1.title {
	font-size: 32px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 24px;
}

h2 {
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	font-weight: 500;
}

.page-top {
	height: calc(100vh - 75px) !important;
	min-height: 0 !important;
	nav {
		height: 50px;
		// position: fixed;
		width: 100vw;
		z-index: 1000;
		#logo {
			height: 50px;
			width: 50px;
			background-size: 21px;
			&.back-logo {
				width: 90px;
				i {
					font-size: 22px;
					line-height: 50px;
					padding-left: 12px;
				}
			}
		}
		.menu {
			font-size: 11px;
			right: 0px;
			bottom: 0px;
			div {
				display: flex;
			}
			div:last-of-type {
				display: none;
			}
			a {
				margin: 0;
				padding: 2px 4px;
			}
			span {
				margin-bottom: 4px;
				.fas {
					font-size: 10px !important;
					margin-right: 6px !important;
				}
			}
			.social {
				width: 44px;
				height: 50px;
				font-size: 22px;
				line-height: 50px;
				padding: 0;
				margin: 0;
				align-content: center;
				text-align: center;
				i {
					position: relative;
					top: 4px;
				}
				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
	.splash-bg {
		position: absolute;
		.site-logo {
			margin-top: 104px;
			background-size: contain !important;
		}
		.meta {
			font-size: 14px;
			width: auto !important;
			margin: 20px 20px 48px 20px !important;
			padding: 20px;
			flex-direction: column;
			.info {
			}
			.links-wrapper {
				width: 100%;
				gap: 0;
				.links {
					width: 100%;
					a {
						font-size: 14px;
						padding: 8px;
						margin-top: 8px;
					}
				}
			}
		}
		.chevron {
			bottom: 10px;
			display: block;
		}
		&.index {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			position: absolute;
			height: 100%;
			.about {
				//height: calc(100% - 24px);
				flex-shrink: 1;
				flex-direction: column;
				padding: 21px;
				margin: 60px 20px 0 20px;
				.desc {
					h1 {
						div {
							font-size: 18px;
							line-height: 24px;
							margin-top: 4px;
						}
					}
					p {
						margin-right: 0;
						line-height: 22px;
					}
				}
				.me {
					margin: 0 0 18px 0;
					width: 150px;
					img {
						max-width: none;
					}
				}
			}
			.segmented-control {
				display: flex;
				margin-top: 20px;
				max-width: calc(100vw - 32px);
				animation: 4s ease-in-out 0s 1 bounce3;
			}
			.chevron {
				animation: 4.4s ease-in-out 0s 1 bounce2;
			}
		}
	}
	.splash-bg.collx {
		.site-logo {
			background-size: 90vw !important;
			background-position: center 20%;
		}
		background-size: 100%, 85%;
	}
	.splash-bg.crossbeam {
		.site-logo {
			background-size: 80vw !important;
		}
		background-position: center 250px;
	}
	.splash-bg.squareknot {
		margin-top: -104px;
		background: url(images/squareknot-illustration-full.png) center top no-repeat,
			url(images/squareknot-logo-text-green.png) center bottom 48px no-repeat;
		background-size: 80vh, 90vw;
		height: 80vh;
		position: relative;
		img {
			display: none;
		}
		.slogan {
			display: block;
			color: #888;
			font-size: 18px;
			text-align: center;
			position: absolute;
			bottom: 20px;
			left: 20px;
			right: 20px;
		}
	}
	.splash-bg.zelda-universe {
		.site-logo {
			background-size: 90vw !important;
		}
	}
	.splash-bg.zelda-maps {
		background-size: auto, auto, cover;
		background-position: top, center bottom 80px, right top;
	}
	.splash-bg.zelda-wiki {
		background-size: auto, cover;
	}
	.splash-bg.goodsemester {
		background-position: center bottom 38%;
		.site-logo {
			width: 90vw !important;
		}
	}
	.splash-bg.venti {
		background-size: 80vw, auto, cover;
	}
}

.content {
	&.page {
		.page-padding {
			padding: 24px !important;
			.squareknot-logo {
				display: none;
			}
			.squareknot-slogan {
				display: none;
			}
			.wiki-duo img {
				height: auto !important;
				width: 100% !important;
				margin-right: 0 !important;
				max-height: none;
			}
			
			.soon {
				font-size: 24px;
			}
		}
		.full-width {
			padding: 0 20px;
			img {
				border-radius: 8px;
				box-shadow: rgba(0,0,0,.2) 0 32px 64px;
			}
		}
		.item-wrapper {
			width: auto !important;
			height: 58vw !important;
			margin: 20px 20px 0 20px !important;
			&:last-of-type {
				margin-bottom: 20px !important;
			}
			span {
				bottom: 20px !important;
				font-size: 3.5vw !important;
			}
		}
		.item-content.goldenchaos-btt {
			span {
				top: 32%;
				div {
					font-size: 6vw;
				}
			}
		}
		.item-content.master-sword {
			span {
				font-size: 6vw !important;
				b {
					font-size: 4vw;
				}
			}
		}
	}
	&.index {
		flex-flow: column;
	}
}

.content.index.page:nth-of-type(6) {
	animation: none;
}

.content.index.page:nth-of-type(7) {
	animation: none;
}

.screenshot-grid-2-col,
.screenshot-grid-3-col {
	display: block;
	padding: 0 24px;
}

.screenshot-grid-2-col img,
.screenshot-grid-3-col img {
	margin: 0 0 24px 0;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.video {
	height: 53vw;
}

.quote-grid {
	flex-direction: column-reverse;
	blockquote {
		width: auto;
		margin: 24px !important;
		&:nth-of-type(even) {
			display: none;
		}
	}
}

}

/* iPhone SE 2020 */
@media only screen 
	and (device-width: 375px)
	and (-webkit-device-pixel-ratio: 2) {
		.about { 
			.desc {
				.title {
					font-size: 24px;
					line-height: 24px;
				}
				p {
					line-height: 18px;
				}
			}
			.me {
				margin: -4px auto 12px auto !important;
				min-width: 0 !important;
				max-width: none !important;
				width: 29% !important;
			}
		}
	}

/* iPhone 13 mini */
@media only screen 
	and (device-width: 375px) 
	and (device-height: 812px)
	and (-webkit-device-pixel-ratio: 3) {
		.about { 
			.desc {
				.title {
					font-size: 30px;
				}
			}
			.me {
				min-width: 0 !important;
				max-width: none !important;
				width: 50% !important;
			}
		}
	}
	
/* iPhone 13/13 Pro */
@media only screen 
	and (device-width: 390px) 
	and (device-height: 844px)
	and (-webkit-device-pixel-ratio: 3) {
		.about {
			.me {
				min-width: 0 !important;
				max-width: none !important;
				width: 59% !important;
			}
		}
	}
	
/* iPhone 13 Pro Max */
@media only screen 
	and (device-width: 428px) 
	and (device-height: 926px)
	and (-webkit-device-pixel-ratio: 3) {
		.about .me {
			min-width: 0 !important;
			max-width: none !important;
			width: 81% !important;
		}
	}