/* Mobile - Styles for screens up to 700px wide */
@media only screen and (max-width: 700px) {

.desktop {
	display: none !important;
}

.mobile {
	display: block !important;
}

blockquote {
	line-height: 36px;
	margin: 20px 20px 0 20px;
	span {
		margin-top: 6px !important;
	}
}

h1 {
	font-size: 24px;
	line-height: 28px;
	margin-top: 24px;
	margin-bottom: 24px;
	font-weight: 500;
}

h1.title {
	font-size: 32px;
	line-height: 36px;
	margin-top: 0;
	margin-bottom: 24px;
}

h2 {
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	font-weight: 600;
}

.page-top {
	height: calc(175vw) !important;
	min-height: 720px !important;
	&.index {
		height: auto !important;
		min-height: auto !important;
		max-height: none !important;
		overflow: visible !important;
	}
	nav {
		height: 54px;
		width: calc(100vw - 32px);
		left: 16px;
		z-index: 1000;
		min-width: 315px;
		#logo {
			height: 54px;
			width: 54px;
			background-size: 21px;
			background-position-y: 16px;
			background-position-x: 10px;
			&.back-logo {
				width: 89px;
				background-position-x: 28px;
				background-position-y: 16px;
				i {
					font-size: 22px;
					line-height: 56px;
					padding-left: 4px;
					color: #4083a0;
					transform: translateY(2px);
				}
			}
		}
		.menu {
			font-size: 11px;
			right: 0px;
			bottom: 0px;
			div {
				display: flex;
			}
			div:last-of-type {
				display: none;
			}
			a {
				margin: 0;
				padding: 2px 4px;
			}
			span {
				margin-bottom: 4px;
				.fas {
					font-size: 10px !important;
					margin-right: 6px !important;
				}
			}
			.social {
				width: 44px;
				height: 50px;
				font-size: 22px;
				line-height: 50px;
				padding: 0;
				margin: 0;
				align-content: center;
				text-align: center;
				i {
					position: relative;
					top: 4px;
				}
				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
	&.crossbeam nav #logo.back-logo i {
		color: #437ea3 !important;
	}
	.splash-bg {
		position: absolute;
		.site-logo {
			margin-top: 104px;
			background-size: contain !important;
		}
		.meta {
			font-size: 14px;
			width: auto !important;
			margin: 20px 20px 48px 20px !important;
			padding: 20px;
			flex-direction: column;
			.info {
			}
			.links-wrapper {
				width: 100%;
				gap: 0;
				margin-top: 8px;
				.links {
					width: 100%;
					a {
						font-size: 14px;
						padding: 8px;
						margin-top: 8px;
					}
				}
			}
		}
		.chevron {
			bottom: 10px;
			display: block;
		}
	}
	.splash-bg.collx {
		.site-logo {
			background-size: 90vw !important;
			background-position: center 20%;
		}
		background-size: 100%, 85%;
	}
	.splash-bg.crossbeam {
		.site-logo {
			background-size: 80vw !important;
		}
		background-position: center 250px;
	}
	.splash-bg.squareknot {
		background-size: 100vh;
		.site-logo {
			background-size: 90vw !important;
		}
	}
	.splash-bg.zelda-universe {
		.site-logo {
			background-size: 90vw !important;
		}
	}
	.splash-bg.zelda-maps {
		background-size: auto, auto, cover;
		background-position: top, center bottom 80px, right top;
	}
	.splash-bg.zelda-wiki {
		.site-logo {
			background-size: 90vw !important;
		}
	}
	.splash-bg.zelda-wiki {
		background-size: auto, cover;
	}
	.splash-bg.goodsemester {
		background-position: center bottom 38%;
		.site-logo {
			width: 90vw !important;
		}
	}
	.splash-bg.venti {
		background-size: 80vw, auto, cover;
	}
}

.splash-bg.index {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: static;
	height: auto;
	.about {
		//height: calc(100% - 24px);
		flex-shrink: 1;
		flex-direction: column;
		padding: 21px;
		margin: 24px 20px 0 20px;
		.desc {
			h1 {
				div {
					font-size: 18px;
					line-height: 24px;
					margin-top: 4px;
				}
			}
			.title {
				text-align: center;
			}
			p {
				margin-right: 0;
				line-height: 22px;
				text-align: center;
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.me {
			margin: 0 0 16px 0;
			width: 150px;
			img {
				max-width: none;
			}
		}
	}
	.segmented-control {
		display: flex;
		margin: 20px 20px 0 20px;
		width: calc(100% - 40px);
		max-width: none;
		//animation: 4s ease-in-out 0s 1 bounce3;
	}
	.chevron {
		//animation: 4.4s ease-in-out 0s 1 bounce2;
	}
}

.content {
	&.page {
		.page-padding {
			padding: 24px !important;
			.squareknot-logo {
				display: none;
			}
			.squareknot-slogan {
				display: none;
			}
			.wiki-duo img {
				height: auto !important;
				width: 100% !important;
				margin-right: 0 !important;
				max-height: none;
			}
			
			.soon {
				font-size: 24px;
			}
		}
		.full-width {
			padding: 0 20px;
			img {
				border-radius: 8px;
				box-shadow: rgba(0,0,0,.2) 0 32px 64px;
			}
		}
		.item-wrapper {
			width: auto !important;
			height: 58vw !important;
			margin: 20px 20px 0 20px !important;
			&:last-of-type {
				margin-bottom: 20px !important;
			}
			span {
				bottom: 20px !important;
				font-size: 3.5vw !important;
			}
		}
		.item-content.goldenchaos-btt {
			span {
				top: 32%;
				div {
					font-size: 6vw;
				}
			}
		}
		.item-content.master-sword {
			span {
				font-size: 6vw !important;
				b {
					font-size: 4vw;
				}
			}
		}
	}
	&.index {
		flex-flow: column;
		.item-wrapper.placeholder,
		.item-content.placeholder {
			display: none;
		}
	}
}

.screenshot-grid-2-col,
.screenshot-grid-3-col,
.screenshot-grid-4-col,
.screenshot-grid-5-col {
	display: block;
	padding: 0 20px;
}

.screenshot-grid-2-col img {
	margin: 0 0 20px 0;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.screenshot-grid-3-col img,
.screenshot-grid-4-col img,
.screenshot-grid-5-col img {
	margin: 0 20px 20px 0;
	width: 46%;
	max-width: 46%;
	box-sizing: border-box;
}

.screenshot-grid-3-col img:nth-of-type(3n),
.screenshot-grid-4-col img:nth-of-type(4n),
.screenshot-grid-5-col img:nth-of-type(5n) {
	margin-right: 20px;
}

.screenshot-grid-3-col img:nth-of-type(2n),
.screenshot-grid-4-col img:nth-of-type(2n),
.screenshot-grid-5-col img:nth-of-type(2n) {
	margin-right: 0;
}

.video {
	height: 53vw;
}

.quote-grid {
	flex-direction: column-reverse;
	blockquote {
		width: auto;
		margin: 24px !important;
		&:nth-of-type(even) {
			display: none;
		}
	}
}

.item-content.app-icons span,
.item-content.zodttd-icons span {
	bottom: 6px !important;
	font-size: 18px !important;
	padding: 14px 18px !important;
	position: absolute !important;
}

.item-content.zodttd-icons span {
	bottom: 6px !important;
}

}

/* iPhone SE 2020 */
@media only screen 
	and (device-width: 375px)
	and (-webkit-device-pixel-ratio: 2) {
		.about { 
			.desc {
				.title {
					font-size: 24px;
					line-height: 24px;
				}
				p {
					line-height: 18px;
				}
			}
			.me {
				margin: -4px auto 12px auto !important;
				min-width: 0 !important;
				max-width: none !important;
				width: 29% !important;
			}
		}
	}

/* iPhone 13 mini */
@media only screen 
	and (device-width: 375px) 
	and (device-height: 812px)
	and (-webkit-device-pixel-ratio: 3) {
		.about { 
			.desc {
				.title {
					font-size: 30px;
				}
			}
			.me {
				min-width: 0 !important;
				max-width: none !important;
				width: 50% !important;
			}
		}
	}
	
/* iPhone 13/13 Pro */
@media only screen 
	and (device-width: 390px) 
	and (device-height: 844px)
	and (-webkit-device-pixel-ratio: 3) {
		.about {
			.me {
				min-width: 0 !important;
				max-width: none !important;
				width: 59% !important;
			}
		}
	}
	
/* iPhone 13 Pro Max */
@media only screen 
	and (device-width: 428px) 
	and (device-height: 926px)
	and (-webkit-device-pixel-ratio: 3) {
		.about .me {
			min-width: 0 !important;
			max-width: none !important;
			width: 81% !important;
		}
	}
@media (max-width: 720px) {
.comic-img {
width: calc(100% - 40px);
margin: 20px;
}
.content.index.page#comic-title h1 {
padding-top: 24px;
}
}

@media (prefers-color-scheme: light) {
	.zelda-wiki-logo {
		filter: invert(1);
	}
}
