/* Web fonts */

@font-face {
    font-family: 'BrandonText';
    font-weight: 300;
    src: url('fonts/brandon/265406_1_0.eot');
    src: url('fonts/brandon/265406_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_1_0.woff') format('woff'),url('fonts/brandon/265406_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 300;
    font-style: italic;
    src: url('fonts/brandon/265406_0_0.eot');
    src: url('fonts/brandon/265406_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_0_0.woff') format('woff'),url('fonts/brandon/265406_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 400;
    src: url('fonts/brandon/264CA8_2_0.eot');
    src: url('fonts/brandon/264CA8_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/264CA8_2_0.woff') format('woff'),url('fonts/brandon/264CA8_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 400;
    font-style: italic;
    src: url('fonts/brandon/264CA8_1_0.eot');
    src: url('fonts/brandon/264CA8_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/264CA8_1_0.woff') format('woff'),url('fonts/brandon/264CA8_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 500;
    src: url('fonts/brandon/265406_2_0.eot');
    src: url('fonts/brandon/265406_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_2_0.woff') format('woff'),url('fonts/brandon/265406_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 500;
    font-style: italic;
    src: url('fonts/brandon/265406_3_0.eot');
    src: url('fonts/brandon/265406_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/265406_3_0.woff') format('woff'),url('fonts/brandon/265406_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'BrandonText';
    font-weight: 600;
    src: url('fonts/brandon/264CA8_0_0.eot');
    src: url('fonts/brandon/264CA8_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/brandon/264CA8_0_0.woff') format('woff'),url('fonts/brandon/264CA8_0_0.ttf') format('truetype');
}

/* Global */

body {
	color: #fff;
	font-family: 'BrandonText', sans-serif;
	background: #437ea3;
	margin: 0;
	padding: 0;
}

nav {
	
}

#logo {
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;
	width: 172px;
	height: 172px;
	display: inline-block;
}

.menu {
	float: right;
}

.hero {
	display: flex;
	width: 50%;
}

.content {
	background: #fff;
	color: #000;
}