/* Tablet (Landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  h1 {
    font-weight: 500;
  }
  .page-top {
    height: calc(100vh - 31px) !important;
  }
  .page-top .splash-bg .site-logo {
    background-size: 70% !important;
  }
  .page-top .splash-bg.zelda-universe .site-logo {
    background-size: 60% !important;
  }
  .page-top.index {
    height: auto;
  }
  .content .item-content span {
    font-size: 14px !important;
    bottom: 16px !important;
  }
  .content .item-content.master-sword span {
    font-size: 19px !important;
    bottom: 10px !important;
  }
  .content .page-padding .squareknot-logo {
    margin-top: 0;
    width: 80vw !important;
  }
  .content .page-padding .wiki-duo img {
    margin-right: 16px !important;
    height: 46.6vw !important;
  }
  .content .page-padding .wiki-duo img:last-of-type {
    margin-right: -30px !important;
  }
}
/* Tablet (Portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  h1 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  h1.title {
    font-size: 36px !important;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  .page-top {
    height: calc(100vh - 31px) !important;
    max-height: none;
  }
  .page-top nav {
    height: 152px;
  }
  .page-top nav #logo {
    width: 140px;
    height: 152px;
  }
  .page-top nav .menu {
    right: 12px !important;
    bottom: 16px !important;
  }
  .page-top .splash-bg .site-logo {
    background-size: 80vw, 100% !important;
  }
  .page-top .splash-bg.goodsemester {
    background-position: center bottom 48%;
  }
  .page-top .splash-bg.goodsemester .site-logo {
    background-size: 90vw !important;
  }
  .page-top .splash-bg.venti {
    background-size: 80vw, auto, cover;
  }
  .page-top .meta {
    width: calc(100% - 32px) !important;
    margin: 16px 16px 40px 16px !important;
  }
  .page-top .meta .visit-site {
    width: 33% !important;
  }
  .content .full-width {
    padding: 0 16px !important;
  }
  .content .full-width img {
    border-radius: 12px !important;
  }
  .content .page-padding {
    padding: 0 16px;
  }
  .content .page-padding:first-of-type {
    padding-top: 16px !important;
  }
  .content .page-padding:last-of-type {
    padding-bottom: 16px !important;
  }
  .content .page-padding .squareknot-logo {
    margin-top: 0;
    width: 80vw !important;
  }
  .content .page-padding .wiki-duo img {
    height: 47.3vw !important;
    margin-right: 16px !important;
  }
  .content .page-padding .wiki-duo img:last-of-type {
    margin-right: -30px !important;
  }
  .content .item {
    margin: 16px 0 0 16px !important;
    border-radius: 12px !important;
  }
  .content .item:nth-of-type(2n) {
    margin-right: 16px !important;
  }
  .content .item:last-of-type {
    margin-bottom: 16px !important;
  }
  .content .item span {
    font-size: 10px !important;
    bottom: 14px !important;
  }
  .content .item-content.master-sword span {
    font-size: 15px !important;
    bottom: 10px !important;
  }
  .video {
    height: 415px;
  }
  .screenshot-grid-2-col,
.screenshot-grid-3-col {
    padding: 0 16px;
  }
  .screenshot-grid-2-col img {
    margin: 0 16px 16px 0 !important;
    width: calc(50% - 10px);
  }
  .screenshot-grid-3-col img {
    margin: 0 16px 16px 0 !important;
    width: 30.2vw;
  }
  .screenshot-grid-2-col.alt img:nth-of-type(3n) {
    margin-right: 0 !important;
  }
}
/* Large Tablet (Portrait) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .page-top {
    max-height: 1024px;
  }
  .page-top .meta {
    max-width: none;
  }
  .page-top .splash-bg.venti {
    background-size: 62vw, auto, cover !important;
  }
  .content .page-padding .video {
    height: 550px;
  }
  .content .page-padding .wiki-duo img {
    height: 48.1vw !important;
    margin-right: 16px !important;
  }
  .content .item-content span {
    font-size: 14px !important;
  }
  .content .item-content.master-sword span {
    font-size: 20px !important;
  }
}
/* Large Tablet (Landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  .splash-bg.zelda-universe .site-logo,
.splash-bg.zelda-maps .site-logo,
.splash-bg.zelda-wiki .site-logo {
    background-size: 60vw !important;
  }
  .hero span {
    font-size: 24px !important;
    bottom: 32px !important;
  }
  .item-content span {
    font-size: 18px !important;
    bottom: 20px !important;
  }
  .item-content.master-sword span {
    font-size: 28px !important;
    bottom: 14px !important;
  }
}
/* Small Tablet (Portrait) */
@media only screen and (min-device-width: 744px) and (orientation: portrait) {
  h1 {
    font-size: 32px !important;
    font-weight: 500;
  }
  .about h1 div {
    font-size: 24px !important;
  }
  .about p {
    margin-right: 0 !important;
  }
}

/*# sourceMappingURL=tablet.css.map */
