---
permalink: "geckowo/index.html"
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting to Geckowo Comics...</title>
  <meta http-equiv="refresh" content="0; url=/geckowo/comics/">
  <link rel="canonical" href="/geckowo/comics/">
</head>
<body>
  <script>window.location.href = '/geckowo/comics/';</script>
  <p>Redirecting to <a href="/geckowo/comics/">Geckowo Comics</a>...</p>
</body>
</html>
