---
layout: layouts/project.njk
title: "CollX - Product Design by Jess Rappaport"
description: "Product Design by Jess Rappaport"
ogImage: "/og-image.png"
slug: "collx"
permalink: "collx/index.html"
slogan: ""
heroMeta:
  - label: "Employed From"
    value: "2021-2022"
  - label: "Role"
    value: "Lead Product Designer"
  - label: "Screens"
    value: "Mobile (iPhone, Android, Web), Desktop Web"
availableFrom:
  - href: "https://apps.apple.com/us/app/collx-sports-card-scanner/id1581164444"
    label: "CollX on the<br>App Store"
    icon: "fa-brands fa-app-store-ios"
  - href: "https://play.google.com/store/apps/details?id=app.collx.android"
    label: "CollX on<br>Google Play"
    icon: "fa-brands fa-google-play"
  - href: "https://collx.app/"
    label: "CollX on the<br>Web"
    icon: "fa-solid fa-earth-americas"
backHref: "/"
desktopBack:
  href: "./"
  label: "Back to Home"
  icon: "fas fa-chevron-left"
  iconStyle: "font-size:14px;margin-right:3px;"
---

<div class="page-padding">
    <h1 style="margin-top:12px;margin-bottom:0;width:85%;" class="title">Designing a blazing fast card scanner with a social network attached.</h1>
    <p>As employee #1 at CollX, I led its design from concept through its successful launch in the App Store. My challenge was to create the UI that would fulfill the founder's vision of a social network for tracking, collecting, and selling trading cards and turn it into a practical UI that a small team of three engineers could develop with incredibly limited resources.</p>
    <p>This began by mapping out the entire user flow of the app in FigJam before moving to any actual designs. Creating the full user experience for CollX involved deeply considering how people want to socially interact with their trading card collections. CollX went through several design iterations during its private beta as I gathered extensive feedback from collectors. This research was ultimately distilled into a practical UI that a small team of three engineers could develop with limited resources.</p>
    <p>The results of these painstaking efforts speak for themselves: CollX has been consistently in the Top 100 Sports Apps, and over 170,000 users have scanned nearly 5 million cards since CollX launched in late January 2022, making it the top scanning experience in the App Store.</p>
    <br class="desktop">
</div>
<style>
    .screenshot-grid-4-col img { box-shadow: none; }
</style>
<div class="screenshot-grid-4-col">
    <img src="/images/collx/frames/feed.png" alt="screenshot">
    <img src="/images/collx/frames/camera-new-loaded.png" alt="screenshot">
    <img src="/images/collx/frames/camera-tutorial.png" alt="screenshot">
    <img src="/images/collx/frames/camera-new-drawer.png" alt="screenshot">
    <img src="/images/collx/frames/capture-results.png" alt="screenshot">
    <img src="/images/collx/frames/card-record.png" alt="screenshot">
    <img src="/images/collx/frames/collection.png" alt="screenshot">
    <img src="/images/collx/frames/share-card.png" alt="screenshot">
    <img src="/images/collx/frames/other-user.png" alt="screenshot">
    <img src="/images/collx/frames/sell-card.png" alt="screenshot">
    <img src="/images/collx/frames/search-results.png" alt="screenshot">
    <img src="/images/collx/frames/referral-program.png" alt="screenshot">
</div>
