---
layout: layouts/base.njk
title: Compare - GoldenChaos
description: Side-by-side comparisons.
permalink: compare/index.html
bodyClass: ""
---

<div class="page-top white">
  {% include "nav.njk" %}
</div>
<div class="content page">
  <div class="page-padding">
    <h1 class="title" style="margin-top:0;">Compare</h1>
    <p>More coming soon.</p>
  </div>
</div>
