---
layout: layouts/project.njk
title: "Crossbeam - Product Design by Jess Rappaport"
description: "Product Design by Jess Rappaport"
ogImage: "/og-image.png"
slug: "crossbeam"
permalink: "crossbeam/index.html"
slogan: ""
heroMeta:
  - label: "Employed From"
    value: "2018-2020"
  - label: "Role"
    value: "Lead Product Designer"
  - label: "Screens"
    value: "Mobile Web, Desktop Web"
  - label: "Funding"
    value: "$117 million (<a href=\"https://www.crossbeam.com/blog/series-c-andreessen-horowitz-partner-ecosystem/\">Andressen Horowitz</a>, <a href=\"https://www.crossbeam.com/blog/the-crossbeam-free-series-b/\">Redpoint</a>, <a href=\"https://www.crossbeam.com/blog/crossbeam-raises-12-5m-series-a-for-a-partner-success-revolution/\">FirstMark</a>, <a href=\"https://www.crossbeam.com/blog/crossbeam-launch-and-funding/\">First Round Capital</a>, <a href=\"https://www.crossbeam.com/blog/crossbeam-launch-and-funding/\">Uncork Capital</a>)"
availableFrom:
  - href: "https://crossbeam.com/"
    label: "Crossbeam on the Web"
    icon: "fa-solid fa-earth-americas"
backHref: "/"
desktopBack:
  href: "./"
  label: "Back to Home"
  icon: "fas fa-chevron-left"
  iconStyle: "font-size:14px;margin-right:3px;"
---

<div class="page-padding">
    <h1 style="margin-top:12px;margin-bottom:0;width:85%;" class="title">Designing a new category of partner tools.</h1>
    <p>As the sole product designer for two years on Crossbeam's founding team, I created the entire product UI and UX. The challenge at Crossbeam was to create a type of analytics service never seen before, one that would securely provide quantitative visibility into the value of enterprise partnerships.</p>
    
    <h1>Crossbeam - Mobile Web</h1>
</div>
<style>
    .screenshot-grid-4-col img { box-shadow: none; }
</style>
<div class="screenshot-grid-4-col">
    <img src="/images/crossbeam/mobile/frames/onboarding.png" alt="screenshot">
    <img src="/images/crossbeam/mobile/frames/dashboard.png" alt="screenshot">
    <img src="/images/crossbeam/mobile/frames/report.png" alt="screenshot">
    <img src="/images/crossbeam/mobile/frames/threads.png" alt="screenshot">
</div>
<div class="page-padding">
    <h1>Crossbeam - Desktop Web</h1>
</div>
<div class="screenshot-grid-2-col">
    <img src="/images/crossbeam/Dashboard.png" alt="screenshot">
    <img src="/images/crossbeam/Single Report.png" alt="screenshot">
    <img src="/images/crossbeam/Partnership Summary.png" alt="screenshot">
    <img src="/images/crossbeam/Company Record.png" alt="screenshot">
    <img src="/images/crossbeam/Loading State 1.png" alt="screenshot">
</div>
<div class="screenshot-grid-2-col">
    <img src="/images/crossbeam/Onboarding A3-1 - Connect Data Source.png" alt="screenshot">
</div>
<div class="screenshot-grid-2-col">
    <img src="/images/crossbeam/Single Thread.png" alt="screenshot">
</div>
