---
layout: layouts/base.njk
title: GoldenChaos-BTT Docs - Replacement Touch Bar UI for BetterTouchTool
description: Documentation for the GoldenChaos-BTT Touch Bar preset.
permalink: goldenchaos-btt-docs/index.html
bodyClass: ""
---

<div class="page-top white">
  {% include "nav.njk" %}
</div>
<div class="content page">
  <div class="full-width">
    <img src="/images/goldenchaos-btt-full.jpg" alt="goldenchaos-btt-full" />
  </div>
  <div class="page-padding">
    <div class="gc-btt-nav">
      <a href="https://share.folivora.ai/sharedPreset/c6391e3f-e539-45f5-9ce7-3d311a0dd625">Install from Folivora.ai</a>
      <a href="/goldenchaos-btt/">Home</a>
      <a class="selected" href="/goldenchaos-btt-docs/">Documentation</a>
      <a href="/goldenchaos-btt-sdk/">SDK</a>
    </div>
  </div>
</div>
<style>
  .gc-btt-nav {
    display: flex;
    width: 100%;
  }
  .gc-btt-nav a {
    width: 100%;
    padding: 8px;
    border-radius: 100px;
    flex-grow: 1;
    text-align: center;
    background: #437da3;
    color: #fff;
    margin-right: 24px;
  }
  .gc-btt-nav a:last-of-type {
    margin-right: 0;
  }
  .gc-btt-nav a.selected {
    background: #2d5875;
  }
</style>
