---
layout: layouts/base.njk
title: Master Sword - GoldenChaos
description: A teaser for the Master Sword project.
permalink: master-sword/index.html
bodyClass: ""
---

<div class="page-top master-sword">
  {% include "nav.njk" %}
  <div class="splash-bg master-sword">
    <div class="chevron"></div>
  </div>
</div>
<div class="content page">
  <div class="page-padding">
    <h1 class="soon">More coming<br />s o o n &trade;</h1>
  </div>
</div>
