---
layout: layouts/base.njk
title: The Jason Effect - GoldenChaos
description: Archive of freelance and blog work under The Jason Effect.
permalink: the-jason-effect/index.html
bodyClass: ""
---

<div class="page-top white the-jason-effect">
  {% include "nav.njk" %}
  <div class="splash-bg the-jason-effect"></div>
</div>
<div class="content page">
  <div class="page-padding">
    <p style="margin-top:0;">Between 2009 and 2012 I did some freelance work under the brand <b>The Jason Effect</b> to pay the bills while starting up <a href="/goodsemester/">GoodSemester</a>. I also ran a blog under the same name from 2005-2015. Check out a few of the sites I designed below, plus several iterations of my old blog designs.
    <h1>The Jason Effect (2012-2015)</h1>
  </div>
  <div class="screenshot-grid-2-col">
    <img src="/images/the-jason-effect/web.archive.org_web_20130120130202_http___www.thejasoneffect.net_.png" alt="screenshot" />
  </div>
  <div class="screenshot-grid-3-col">
    <img src="/images/the-jason-effect/web.archive.org_web_20130120130202_http___www.thejasoneffect.net_(iPhone%206_7_8).png" alt="screenshot" />
    <img src="/images/the-jason-effect/web.archive.org_web_20130120130202_http___www.thejasoneffect.net_(iPhone%206_7_8)%20(1).png" alt="screenshot" />
    <img src="/images/the-jason-effect/web.archive.org_web_20130120130202_http___www.thejasoneffect.net_(iPhone%206_7_8)%20(2).png" alt="screenshot" />
  </div>
  <div class="page-padding">
    <h1>The Jason Effect (2009-2012)</h1>
  </div>
  <div class="screenshot-grid-2-col">
    <img src="/images/the-jason-effect/web.archive.org_web_20110113134619_http___www.thejasoneffect.net_.png" alt="screenshot" />
  </div>
  <div class="page-padding">
    <h1>Soup Shoppe (2009)</h1>
  </div>
  <div class="screenshot-grid-2-col">
    <img src="/images/the-jason-effect/soupshoppe1.png" alt="screenshot" />
    <img src="/images/the-jason-effect/soupshoppe2.png" alt="screenshot" />
    <img src="/images/the-jason-effect/soupshoppe3.png" alt="screenshot" />
  </div>
  <div class="page-padding">
    <h1>Lehigh Choral Arts (2009)</h1>
  </div>
  <div class="screenshot-grid-2-col">
    <img src="/images/the-jason-effect/Welcome%20-%20Lehigh%20University%20Choral%20Arts.png" alt="screenshot" />
    <img src="/images/the-jason-effect/web.archive.org_web_20100514010252_http___lehighchoralarts.com_.png" alt="screenshot" />
    <img src="/images/the-jason-effect/web.archive.org_web_20100514010252_http___lehighchoralarts.com_%20(2).png" alt="screenshot" />
  </div>
  <div class="page-padding">
    <h1>The Jason Effect (2005-2009)</h1>
  </div>
  <div class="screenshot-grid-2-col">
    <img src="/images/the-jason-effect/web.archive.org_web_20090518030327_http___www.thejasoneffect.net_80_.png" alt="screenshot" />
  </div>
</div>
