---
layout: layouts/base.njk
title: Venti - GoldenChaos
description: A cup-shaped car humidifier concept.
ogImage: /images/venti/venti-ad-magic.png
permalink: venti/index.html
bodyClass: ""
---

<div class="page-top zelda-universe">
  {% include "nav.njk" %}
  <div class="splash-bg venti">
    <div class="chevron"></div>
  </div>
</div>
<div class="content page">
  <div class="page-padding">
    <h1 style="margin-top:12px;margin-bottom:0;" class="title">Fresh air everywhere.</h1>
    <p>Venti was a concept product I created for Lehigh University's Integrated Business and Engineering program my freshman year in spring 2009. A cup-shaped humidifer for your car cheekily named after the drink whose cupholder it was intended to take over. I grew oddly attached to the design, and I still kind of want one ten years later... even though I don't use a car.</p>
    <br />
    <br />
    <br />
    <img src="/images/venti/venti-ad-magic.png" alt="screenshot" />
    <img style="box-sizing:border-box;width:49% !important;padding:32px 32px 32px 0;" src="/images/venti/Venti-box.png" alt="screenshot" />
    <img style="box-sizing:border-box;width:49% !important;padding:32px 0 75px 32px;" src="/images/venti/der%20sticky.png" alt="screenshot" />
    <img style="border-radius:12px;box-shadow:rgba(0,0,0,.3) 0 32px 64px;margin-bottom:8px;" src="/images/venti/poster.jpg" alt="screenshot" />
    <center><small>I have only two regrets in life: the letter spacing on this poster, and growing that goatee.</small></center>
    <br />
  </div>
</div>
