---
layout: layouts/project.njk
title: "Zelda Wiki - Product Design by Jess Rappaport"
description: "Product Design by Jess Rappaport."
ogImage: "/og-image.png"
slug: "zelda-wiki"
permalink: "zelda-wiki/index.html"
slogan: ""
heroMeta:
  - label: "Available From"
    value: "2005-Present"
  - label: "Roles"
    value: "Co-Founder, Lead Product Designer"
  - label: "Screens"
    value: "Mobile Web, Desktop Web"
availableFrom:
  - href: "https://zeldawiki.net/"
    label: "Zelda Wiki on the Web"
    icon: "fa-solid fa-earth-americas"
backHref: "/"
desktopBack:
  href: "/"
  label: "Back to Home"
  icon: "fas fa-chevron-left"
  iconStyle: "font-size:14px;margin-right:3px;"
---

<div class="page-padding">
   <h1 style="margin-top:12px;margin-bottom:0;width:85%;" class="title">Designing one of the world's largest game wikis.</h1>
    <p>I and <a href="zelda-universe.html">Zelda Universe</a> forum member Jon Partridge (aka "Yami") originally created the Zelda Universe Wiki in 2005 out of pure boredom. Once the project outgrew its roots, I renamed it to Zelda Wiki, gave it its own domain, and invited other Zelda fan communities to help build it with me and the other Zelda Universe staff. This experiment in cross-community collaboration was an incredible success, and since then Zelda Wiki has become the world's definitive source of information on Nintendo's <i>Legend of Zelda</i> franchise.</p>
    <p>Zelda Wiki also co-founded the <a href="http://www.niwanetwork.org" target="_blank">NIWA wiki network</a>, a network of the most popular independently-hosted game wikis online.</p>
</div>
<div class="page-padding">
    <h1>New Logo, 2022</h1>
    <img class="zelda-wiki-logo" src="/images/zelda-wiki-logo.png" alt="Zelda Wiki Logo">
</div>
<div class="page-padding">
    <h1>Zelda Wiki - Mobile</h1>
</div>
<style>
    .screenshot-grid-3-col img { box-shadow: none; }
</style>
<div class="screenshot-grid-3-col">
    <img src="/images/zelda-wiki/mobile/frames/main-page.png" alt="screenshot">
    <img src="/images/zelda-wiki/mobile/frames/botw.png" alt="screenshot">
    <img src="/images/zelda-wiki/mobile/frames/midna.png" alt="screenshot">
</div>
<div class="page-padding">
    <h1>Zelda Wiki - Desktop</h1>
</div>
<div class="screenshot-grid-2-col alt">
    <img src="/images/zelda-wiki/desktop/zelda.gamepedia.com_Midna.png" alt="screenshot" />
    <img src="/images/zelda-wiki/desktop/zelda.gamepedia.com_Main_Page (1).png" alt="screenshot" />
    <img src="/images/zelda-wiki/desktop/zelda.gamepedia.com_The_Legend_of_Zelda__Breath_of_the_Wild (1).png" alt="screenshot" />
</div>
