---
layout: layouts/base.njk
title: "ZodTTD Emulator Icons - GoldenChaos"
description: "Product Design by Jess Rappaport."
ogImage: "/og-image.png"
bodyClass: ""
---

<div class="page-top white goldenchaos-btt">
    <nav>
        <a id="logo" class="back-logo" href="/">
            <i class="fas fa-chevron-left mobile"></i>
        </a>
        <div class="menu">
            <div>
                {% for social in site.social %}
                    <a class="social" href="{{ social.href }}" target="_blank"{% if social.hidden %} style="display:none;"{% endif %}><i class="{{ social.icon }}"></i></a>
                {% endfor %}
            </div>
            <div class="desktop">
                <a href="/">
                    <i class="fas fa-chevron-left" style="font-size:14px;margin-right:3px;"></i> Back to Home
                </a>
            </div>
        </div>
    </nav>
</div>
<div class="content page app-icons">
    <div class="page-padding">
        <h1 style="margin-top:0;" class="title">ZodTTD Emulator Icons</h1>
        <p>Created in 2010 for emulation pioneer and legend <a href="https://twitter.com/zodttd" target="_blank">ZodTTD</a> for his suite of game console emulators for iOS, these icons were never used in production. Today, <a href="https://provenance-emu.com" target="_blank">Provenance</a> is king, but I still love these little icons.</p>
        <h1>genesis4iphone</h1>
        <img class="large-icon" src="/images/zodttd-icons/genesis4iphone-large.png" alt="" />
        <img class="medium-icon" src="/images/zodttd-icons/genesis4iphone-medium.png" alt="" />
        <img class="small-icon" src="/images/zodttd-icons/genesis4iphone.png" alt="" />
        <h1>snes4iphone</h1>
        <img class="large-icon" src="/images/zodttd-icons/snes4iphone-large.png" alt="" />
        <img class="medium-icon" src="/images/zodttd-icons/snes4iphone-medium.png" alt="" />
        <img class="small-icon" src="/images/zodttd-icons/snes4iphone.png" alt="" />
        <h1>psx4all</h1>
        <img class="large-icon" src="/images/zodttd-icons/psx4all-large.png" alt="" />
        <img class="medium-icon" src="/images/zodttd-icons/psx4all-medium.png" alt="" />
        <img class="small-icon" src="/images/zodttd-icons/psx4all.png" alt="" />
        <h1>ds4iphone</h1>
        <img class="large-icon" src="/images/zodttd-icons/ds4iphone-large.png" alt="" />
        <img class="medium-icon" src="/images/zodttd-icons/ds4iphone-medium.png" alt="" />
        <img class="small-icon" src="/images/zodttd-icons/ds4iphone.png" alt="" />
        <h1>gpSPhone</h1>
        <img class="large-icon" src="/images/zodttd-icons/gpSPhone-large.png" alt="" />
        <img class="medium-icon" src="/images/zodttd-icons/gpSPhone-medium.png" alt="" />
        <img class="small-icon" src="/images/zodttd-icons/gpSPhone.png" alt="" />
        <h1>gameboy4iphone</h1>
        <img class="large-icon" src="/images/zodttd-icons/gameboy4iphone-large.png" alt="" />
        <img class="medium-icon" src="/images/zodttd-icons/gameboy4iphone-medium.png" alt="" />
        <img class="small-icon" src="/images/zodttd-icons/gameboy4iphone.png" alt="" />
        <h1>nes4iphone</h1>
        <img class="large-icon" src="/images/zodttd-icons/nes4iphone-large.png" alt="" />
        <img class="medium-icon" src="/images/zodttd-icons/nes4iphone-medium.png" alt="" />
        <img class="small-icon" src="/images/zodttd-icons/nes4iphone.png" alt="" />
        <br />
    </div>
</div>
<footer>
    <span>&copy; 2004-<script>document.write(new Date().getFullYear())</script> Jess Rappaport</span>
</footer>
